<div *ngIf="feedback.feedbackType === 'error'" class="alert alert-danger d-flex align-items-center" role="alert">
  <div class="spinner-grow text-danger" role="status"></div>
  <span class="ms-2">{{ feedback.feedbackmsg }}</span>
</div>

<div *ngIf="isLoading" class="spinner-border text-info" role="status">
  <span class="sr-only"></span>
</div>

<div>
  <div class="container">
    <br/>
    <div style="display: flex; align-items: center">
      <img src="assets/img/user.png" style="width:50px; height:50px;"/>&nbsp;
      <h3 style="margin: 0;"><strong>{{ post.title }}</strong></h3>&nbsp;
      <img src="assets/img/edit.png" style="width:20px; height:20px;"/>&nbsp;
      <img src="assets/img/delete.png" style="width:20px; height:20px;" />&nbsp;
      <small>{{ post.createdAt | date:'fullDate' }} - {{ post.createdAt | date:'mediumTime' }}</small>
  </div>
  
    <p class="mt-2">{{ post.content }}</p>
  </div>
</div>
<app-comment-list></app-comment-list>